#main-component-container {
  padding-top: 20px;
}

#product-title {
  margin: 0px;

}

.productStats {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px
}

.star-ratings {
  padding-right: 5px;
}

#directory {
  padding-bottom: 10px;
  padding-left: 22px;
  font-size: 14px;
}

.primary-button {
  margin-top: 30px;
  text-align: center;
}

.thumbnail {
  padding:10px;
}

#left-column {
  padding-top: 20px;
  margin-bottom: 0px;
}

#product-title {
  font-size: 22px;
  padding-top: 5px;
}

.title-card {
  padding-left: 22px;
}

#price {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#right-column {
  padding-right: 30px;
}

.protection {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;

}

#protection {
  margin-top: 20px;
  padding-bottom:20px;
  border-bottom: 1px solid black;
}

#protection-price {
  text-align: right;
}